parameters:
	ignoreErrors:
		-
			message: "#^Call to method getMessage\\(\\) on an unknown class App\\\\Http\\\\Controllers\\\\Api\\\\Auth\\\\Exception\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Auth/OtpController.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Kreait\\\\Firebase\\\\Exception\\\\Auth\\\\FirebaseAuthException\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Auth/OtpController.php

		-
			message: "#^Caught class App\\\\Http\\\\Controllers\\\\Api\\\\Auth\\\\Exception not found\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Auth/OtpController.php

		-
			message: "#^Caught class Kreait\\\\Firebase\\\\Exception\\\\Auth\\\\FirebaseAuthException not found\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Auth/OtpController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Keyword\\>\\:\\:\\$default\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Keyword\\>\\:\\:\\$key\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Keyword\\>\\:\\:\\$type\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Function str_slug not found\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Relation 'parent' is not found in App\\\\Category model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Relation 'surveys' is not found in App\\\\Category model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Relation 'user' is not found in App\\\\Category model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CategoryController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\CityCrudController\\:\\:destroy\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CityCrudController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\CityCrudController\\:\\:update\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CityCrudController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$id$#"
			count: 1
			path: app/Http/Controllers/Api/CityCrudController.php

		-
			message: "#^Relation 'commentable' is not found in App\\\\Comment model\\.$#"
			count: 2
			path: app/Http/Controllers/Api/CommentController.php

		-
			message: "#^Relation 'country' is not found in App\\\\Comment model\\.$#"
			count: 2
			path: app/Http/Controllers/Api/CommentController.php

		-
			message: "#^Relation 'user' is not found in App\\\\Comment model\\.$#"
			count: 2
			path: app/Http/Controllers/Api/CommentController.php

		-
			message: "#^Relation 'user' is not found in App\\\\Country model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CountryController.php

		-
			message: "#^Undefined variable\\: \\$country$#"
			count: 1
			path: app/Http/Controllers/Api/CountryController.php

		-
			message: "#^Variable \\$country might not be defined\\.$#"
			count: 1
			path: app/Http/Controllers/Api/CountryController.php

		-
			message: "#^Relation 'user' is not found in App\\\\Category model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/DashboardController.php

		-
			message: "#^Relation 'friend' is not found in App\\\\Friends model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/InitController.php

		-
			message: "#^Relation 'friends' is not found in App\\\\User model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/InitController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$keywords$#"
			count: 1
			path: app/Http/Controllers/Api/KeywordsController.php

		-
			message: "#^Relation 'translation' is not found in App\\\\Keyword model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/KeywordsController.php

		-
			message: "#^Relation 'translations' is not found in App\\\\Keyword model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/KeywordsController.php

		-
			message: "#^Property App\\\\User\\:\\:\\$status \\('approved'\\|'deleted'\\|'disapproved'\\|'freeze'\\|'pending'\\|'pendingApproved'\\|'pendingFreeze'\\) does not accept 'active'\\.$#"
			count: 1
			path: app/Http/Controllers/Api/MembersController.php

		-
			message: "#^Relation 'country' is not found in App\\\\User model\\.$#"
			count: 2
			path: app/Http/Controllers/Api/MembersController.php

		-
			message: "#^Relation 'roles' is not found in App\\\\User model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/MembersController.php

		-
			message: "#^Relation 'userDetails' is not found in App\\\\User model\\.$#"
			count: 3
			path: app/Http/Controllers/Api/MembersController.php

		-
			message: "#^Variable \\$model might not be defined\\.$#"
			count: 10
			path: app/Http/Controllers/Api/MembersController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PagesController\\:\\:destroy\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PagesController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$page$#"
			count: 2
			path: app/Http/Controllers/Api/PagesController.php

		-
			message: "#^Property App\\\\Page\\:\\:\\$status \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PagesController.php

		-
			message: "#^Relation 'translation' is not found in App\\\\Page model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PagesController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:create\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:edit\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:index\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:show\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:store\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PendingFriendsController\\:\\:update\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PendingFriendsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:create\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:edit\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:index\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:show\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:store\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\PrivacyOptionsController\\:\\:update\\(\\) should return Illuminate\\\\Http\\\\Response but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/PrivacyOptionsController.php

		-
			message: "#^Function str_slug not found\\.$#"
			count: 2
			path: app/Http/Controllers/Api/SubjectsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\SubjectsController\\:\\:destroy\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SubjectsController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\SubjectsController\\:\\:update\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SubjectsController.php

		-
			message: "#^Relation 'onlySurvey' is not found in App\\\\SurveyChoice model\\.$#"
			count: 3
			path: app/Http/Controllers/Api/SurveyChoiceController.php

		-
			message: "#^Relation 'user' is not found in App\\\\SurveyChoice model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveyChoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\SurveyVotesController\\:\\:surveyVote\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\SurveyVote\\> but returns App\\\\SurveyVote\\|null\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveyVotesController.php

		-
			message: "#^Relation 'choice' is not found in App\\\\SurveyVote model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveyVotesController.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 4
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Call to an undefined static method App\\\\Friends\\:\\:withTrashed\\(\\)\\.$#"
			count: 4
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\SurveysController\\:\\:getdetails\\(\\) should return array but returns Illuminate\\\\Http\\\\JsonResponse\\.$#"
			count: 2
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\SurveysController\\:\\:store\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$request$#"
			count: 1
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'category' is not found in App\\\\Survey model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'choices' is not found in App\\\\Survey model\\.$#"
			count: 8
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'comments' is not found in App\\\\Survey model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'survey' is not found in App\\\\SurveyVote model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'user' is not found in App\\\\Survey model\\.$#"
			count: 5
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'users' is not found in App\\\\SurveyVote model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Relation 'votes' is not found in App\\\\SurveyChoice model\\.$#"
			count: 7
			path: app/Http/Controllers/Api/SurveysController.php

		-
			message: "#^Call to static method parseFile\\(\\) on an unknown class Symfony\\\\Component\\\\Yaml\\\\Yaml\\.$#"
			count: 1
			path: app/Http/Controllers/Api/TranslationsController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:scopes\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:stateless\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:userFromToken\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Request\\:\\:input\\(\\)\\.$#"
			count: 6
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Relation 'city' is not found in App\\\\User model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Relation 'country' is not found in App\\\\User model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Relation 'options' is not found in App\\\\Privacy model\\.$#"
			count: 1
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Relation 'privacySettings' is not found in App\\\\User model\\.$#"
			count: 2
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Relation 'userDetails' is not found in App\\\\User model\\.$#"
			count: 3
			path: app/Http/Controllers/Api/UserController.php

		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\Authenticate\\:\\:redirectTo\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: app/Http/Middleware/Authenticate.php
