includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 3
  paths:
    - app/Http

  bootstrapFiles:
    - %rootDir%/../../../vendor/autoload.php

  # OR if you need to scan directories to autoload:
  # autoload_directories:
  #   - %rootDir%/../../../app

  excludePaths:
    - tests/*
    - bootstrap/*
    - storage/*
    - vendor/*

  ignoreErrors:
    - message: '#Call to an undefined static method App\\.*::where#'
    - message: '#Access to an undefined property App\\.*::\$.*#'
    - message: '#PHPDoc type array of property .* is not covariant.*#'
    - message: '#.+#'
      identifier: missingType.iterableValue 

  reportUnmatchedIgnoredErrors: false

  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 60.0
    jobSize: 128
