includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 3 # instead of 5 or 6
  paths:
    - app/Http

  autoload_files:
    - %rootDir%/../../../vendor/autoload.php
    # add more files if needed

  # or use autoload_directories:
  # autoload_directories:
  #   - %rootDir%/../../../app

  excludePaths:
    - tests/*
    - bootstrap/*
    - storage/*
    - vendor/*

  ignoreErrors:
    - message: '#Call to an undefined static method App\\.*::where#'
    - message: '#Access to an undefined property App\\.*::\$.*#'
    - message: '#PHPDoc type array of property .* is not covariant.*#'
    - message: '#.+#'
      identifier: missingType.iterableValue 
    # Remove the line that ignores all errors like '#.+#' — it hides everything


  reportUnmatchedIgnoredErrors: false 


  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 60.0
    jobSize: 128