includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - phpstan-baseline.neon
  
parameters:
  level: 5
  paths:
    - app

  excludePaths:
    - tests/*
    - bootstrap/*
    - storage/*
    - vendor/*

  ignoreErrors:
    - identifier: missingType.iterableValue
      message: '#.+#'

  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 60.0
    jobSize: 128
